.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .content {
        padding-top: 40%;

        h2 {
            font-size: 96px;
            margin-top: 0;
        }

        .hand {
            position: relative;
            top: 10px;
            width: 64px;
            height: 64px;
        }

        .hi {
            display: block;
        }

        .quote {
            font-size: 40px;

            .elegance {
                color: #EDAAAF;
                font-style: italic;
            }

            hr {
                margin-top: 32px;
                margin-bottom: 10px;
                border-top: 1px solid #E6E6E6;
            }
        }

        .socials {
            &:hover {
                .social {
                    opacity: 0.3;
                }
            }

            .social {
                margin-right: 10px;
                width: 24px;
                height: 24px;
                cursor: pointer;
                transition: opacity 0.3s ease-in;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.about-info {
    padding: 124px 0;

    .section {
        margin-bottom: 96px;

        .content-title {
            width: 30%;

            p {
                font-size: 20px;
                margin: 0;
                color: #7A8B97;
            }
        }

        .content {
            flex: 1;

            p {
                font-size: 18px;
                margin: 0;
                font-weight: 600;
            }

            .title {
                font-size: 16px;
            }

            .sub-title {
                font-size: 16px;
                color: #7A8B97;
            }

            hr {
                margin-top: 32px;
                margin-bottom: 32px;
                border-top: 1px solid #E6E6E6;
            }

            img {
                width: 38px;
                height: 38px;
                margin-right: 32px;
            }

            .rad {
                width: 32px;
                height: 32px;
                margin: auto 0 auto 10px;
                position: relative;
                top: 5px;
            }

            span {
                color: #EDAAAF;
            }
        }
    }
}