.design {
    padding-top: 124px;
    margin-bottom: 244px;

    .title-container {
        display: flex;
        justify-content: center;
        margin-bottom: 124px;

        .title {
            margin: 0;
        }
    }
}