.footer {
    display: flex;
    justify-content: center;
    margin: 244px 0 46px 0;

    img {
        width: 12px;
        height: 12px;
        margin: auto 0;
    }

    p {
        font-size: 16px;
        color: #CCCCCC;
        margin: auto 4px;
        font-weight: 600;
    }
}