.header {
    display: flex;
    margin-top: 32px;
    z-index: 10;
    width: 100%;
    left: 0;
    
    .navigation {
        display: flex;
        width: 1000px;
        margin: auto;
        justify-content: end;
        position: relative;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        margin-left: 32px;
        transition: color .1s ease-in;
        position: relative;
    }

    .on {
        color: #CCCCCC;
        cursor: default;
    }

    .off {
        cursor: pointer;

        &:hover {
            color: #EDAAAF;
        }
    }
}