.header {
    display: flex;
    margin-top: 56px;
    justify-content: end;
    position: absolute;
    right: 0;
    z-index: 10;
    width: 100%;

    .logo {
        width: 64x;
        height: 64px;
        margin: auto;
    }

    p {
        font-weight: 600;
        font-size: 16px;
        margin-left: 32px;
        transition: color .1s ease-in;
    }

    .on {
        color: #CCCCCC;
        cursor: default;
    }

    .off {
        color: #7A8B97;
        cursor: pointer;

        &:hover {
            color: #EDAAAF;
        }
    }
}