.header {
    display: flex;
    margin-top: 32px;
    z-index: 10;
    width: 100%;
    
    .navigation {
        display: flex;
        margin: auto;
        justify-content: flex-end;
        position: relative;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        margin-left: 32px;
        transition: all .1s ease-in;
        position: relative;
        color: #7A8B97;
    }

    .on {
        color: #CCCCCC;
        cursor: default;
    }

    .off {
        cursor: pointer;

        &:hover {
            color: #000000;
            transform: scale(1.2);
        }
    }
}