body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.divider {
  flex: 1;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.container {
  position: relative;
  width: 1000px;
  margin: auto;
}

.flex {
  display: flex;
}

.hide {
  display: none;
}

// -- Animation --

// fade in
.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// slide up
.offset {
  display: block;
  overflow: hidden;
}
.offset {
  animation-name: slideUp;
  animation-duration: 0.75s;
  animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  width: max-content;
  white-space: nowrap;
  white-space: pre;
}
.offset-odd {
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
.offset-even {
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

@keyframes slideUp {
  0%,
  30% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// rotate
.rotate {
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// oscillate
.oscillate {
  opacity: 0;
  animation-name: oscillate;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes oscillate {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
