* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.divider {
  flex: 1;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.container {
  position: relative;
  margin: auto;
}

.flex {
  display: flex;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.breadcrum {
  margin-bottom: 64px;
  color: #B4BFCA;
}

button {
  padding: 15px 30px;
  background-color: black;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-family: 'Figtree', sans-serif;
  font-size: 16px;

  &:hover {
      box-shadow: 8px 8px 0 1px #ddd;
  }
}

// -- Responsiveness
.tight {
  padding: 40px;
}

.tight, .tighter {
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .menu-container {
    .menu-wrapper {
      width: 100%;
    }
  }

  .tight {
    width: 100%;
  }

  .tighter {
    width: 80%;
  }

  .about-info {
    .section {
      display: block;

      .content-title {
        margin-bottom: 20px;
      }
    }
  }

  .design, .software {
    .title {
      font-size: 48px;
    }
  }

  .project {
    display: block;

    .display {
      margin: auto 0;
    }
  }

  .casestudy {
    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }

    .section-dark {
      li {
        font-size: 20px;
        line-height: 40px;
      }
    }

    .project-details {
      display: block;
    }

    .persona {
      img {
        display: none;
      }
    }

    .why {
      img {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .menu-container {
    .menu-wrapper {
      width: 100%;
    }
  }

  .tight {
    width: 100%;
  }

  .tighter {
    width: 80%;
  }

  .about-info {
    .section {
      display: block;

      .content-title {
        margin-bottom: 20px;
      }
    }
  }

  .design, .software {
    .title {
      font-size: 48px;
    }
  }

  .project {
    display: flex;

    .display {
      margin: auto 10% auto 0;
    }
  }

  .casestudy {
    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 20px;
    }

    .section-dark {
      li {
        font-size: 24px;
        line-height: 64px;
      }
    }

    .project-details {
      display: flex;
    }

    .persona {
      img {
        display: block;
      }
    }

    .why {
      img {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .menu-container {
    .menu-wrapper {
      width: 1000px;
    }
  }

  .tight {
    width: 1000px;
  }

  .tighter {
    width: 600px;
  }

  .about-info {
    .section {
      display: flex;
    }
  }

  .design, .software {
    .title {
      font-size: 96px;
    }
  }

  .project {
    display: flex;

    .display {
      margin: auto 10% auto 0;
    }
  }

  .casestudy {
    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 20px;
    }

    .section-dark {
      li {
        font-size: 24px;
        line-height: 64px;
      }
    }

    .project-details {
      display: flex;
    }

    .persona {
      img {
        display: block;
      }
    }

    .why {
      img {
        display: block;
      }
    }
  }
}


// -- Animation --

// fade in
.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-delay: 1.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// slide up
.offset {
  display: block;
  overflow: hidden;
}
.offset {
  animation-name: slideUp;
  animation-duration: 0.75s;
  animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  width: max-content;
  white-space: nowrap;
  white-space: pre;
}
.offset-odd {
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
.offset-even {
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

@keyframes slideUp {
  0%,
  30% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// rotate
.rotate {
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// oscillate
.oscillate {
  opacity: 0;
  animation-name: oscillate;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes oscillate {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

// oscillate reverse

.oscillate-reverse {
  opacity: 1;
  animation-name: oscillateReverse;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes oscillateReverse {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-100px);
    opacity: 0;
  }
}

// line
.line {
  width: 0%;
  animation-name: line;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

